<aside class="menu">
  {% for item in site.data.docs %}
    <p class="menu-label">
      {{ item.title }}
    </p>
    <ul class="menu-list">
      {% for sub-item in item.docs %}
        {% assign url = item.url | prepend: "/docs/" | append: "/" | append: sub-item.url | append: "/" %}
        <li>
          <a href="{{ url | prepend: site.baseurl }}" {% if page.url == url %}class="is-active"{% endif %}>
            {{ sub-item.title }}
          </a>
          {% if page.url == url %}
            <ul class="sub-docs"></ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</aside>
