---
layout: default
---

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-9-widescreen is-8-desktop is-8-tablet is-12-mobile">
        <div class="content">
          {{ content }}
        </div>
        <nav class="has-text-centered">
          <a class="button is-dark">< ก่อนหน้า</a>
          <a class="button is-dark">ถัดไป ></a>
        </nav>
      </div>
      <div class="column is-3-widescreen is-4-desktop is-4-tablet is-12-mobile">
        {% include docs_sidebar.html %}
      </div>
    </div>
  </div>
</section>
